body {
	margin:			0;
	background:		#000;
	overflow:		hidden;
}

#img {
	position:		absolute;
	top:			0;
	left:			0;
	width:			100%;
	min-height:		100%;
}

#logo {
	background:		url(logo.png);
	width:			105px;
	height:			69px;
	position:		absolute;
	left:			50%;
	top:			50%;
	margin-left:	-53px;
	margin-top:		-35px;
	display:		block;
	outline:		none;
}